.area-text {
  width: 100%;
}

.html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.word {
  display: flex;
}

.blinkingCurrsor {
  width: 3px;
  height: 60px;
  background-color: red;
  position: absolute;
  transition: all 0.15s;
}

.additional-letters {
  color: rgb(138, 0, 0);
}

.keys:active {
  background-color: green;
}

.costam {
  display: flex;
}

.letters {
  color: white;
}

#word-inner {
  font-size: 40px;
  transition: color 0.4s;
  display: flex;
}

.keys {
  padding: 10px;
  width: 50px;
  font-size: 30px;
  text-align: center;
  transition: background-color 0.2s;
}

.backspace {
  width: auto;
}

.under-textarea-div {
  height: 100%;
  display: flex;
  align-items: flex-end;
  align-items: center;
}

#word {
  margin: 10px;
}

.first {
  padding: 5px;
}

.caps {
  width: auto;
}

.enter {
  width: 170px;
}

.keyboard {
  width: 100%;
  text-align: center;
}

.tab {
  width: 150px;
}