.area-text {
  width: 100%;
  opacity: 0;
  position: absolute;
}

.html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  scrollbar-width: none;
}

.wpm-style-div {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blinkingCurrsor {
  width: 3px;
  height: 40px;
  background-color: rgb(255, 123, 0);
  position: absolute;
  transition: all 0.15s;
}

#clock {
  display: flex;
}

.additional-letters {
  color: rgb(138, 0, 0);
}

.keys:active {
  background-color: green;
}

.costam {
  display: flex;
}

.letters {
  color: white;
}

#word-inner {
  text-align: center;
  font-size: 30px;
  transition: color 0.4s;
  display: flex;
  justify-content: center;
  width: 70%;
  /* height: ; */
  flex-wrap: wrap;
  /* padding-left: 2e00px; */
  /* padding-right: 200px; */
}

.word-ds {
  display: flex;
  width: 100%;
  height: 200px;
  overflow-y: auto;
  justify-content: center;
  scrollbar-color: black;
}

.word-ds::-webkit-scrollbar {
  color: black;
  width: 0px;
}

.keys {
  padding: 10px;
  width: 50px;
  font-size: 30px;
  text-align: center;
  transition: background-color 0.2s;
}

.backspace {
  width: auto;
}

.word {
  margin: 5px;
}

.first {
  padding: 5px;
}

.caps {
  width: auto;
}

.enter {
  width: 170px;
}

.keyboard {
  width: 100%;
  text-align: center;
}

.tab {
  width: 150px;
}