html,
body {
  height: 100%;
  /* width: 100%; */
  scrollbar-width: none;
}

.area-text {
  /* width: 100%; */
  opacity: 0;
  position: absolute;
}
.header {
  height: 100px;
}
.app {
  display: flex;
}
.game-div {
  /* display: flex; */
  height: 100%;
  width: 100%;
  position: relative;
}
.padding-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.hideCursor {
  opacity: 0;
  border-bottom-left-radius: 0;
}
.user-profile-mini {
  transition: all 0.2s;
  width: 200px;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  background-color: #0d153c;
  position: relative;
}
.user-profile-mini-123 {
  width: 300px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.user-profile-image {
  height: 35px;
  width: 35px;
  border-radius: 100%;
}
i {
  color: white;
}
.user-profile-stats {
  position: absolute;
  background-color: #0d153c;
  height: 0;
  top: 40px;
  right: 0;
  height: 0px;
  transition: height 0.2s;
  width: inherit;
}
.user-profile-stats-123 {
  height: 300px;
}
.wpm-style-div {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo {
  color: white;
}
#title {
  margin-top: 10px;
}
.blinkingCurrsor {
  display: none;
  width: 2px;
  opacity: 1;
  height: 40px;
  background-color: rgb(255, 123, 0);
  position: absolute;
  transition: all 0.05s;
}
#clock {
  display: flex;
}
.img-logo {
  height: 100px;
}
.additional-letters {
  color: rgb(138, 0, 0);
}
.alert-danger {
  margin-top: 1em;
}
.keys:active {
  background-color: green;
}

.costam {
  display: flex;
}

.letters {
  width: 40px;
  color: rgb(114, 114, 114);
}
.clock {
  color: white;
}
#word-inner {
  /* text-align: center; */
  font-size: 30px;
  overflow: hidden;
  transition: color 0.4s;
  display: flex;
  justify-content: center;
  width: 1300px;
  /* height: ; */
  flex-wrap: wrap;
  /* padding-left: 2e00px; */
  /* padding-right: 200px; */
  pointer-events: none;
}

.taktycznie {
  position: relative;
  height: inherit;
}
.col-sm- {
  height: inherit;
}
.row {
  height: 100%;
}
.word-ds {
  display: flex;
  width: 100%;
  height: 165px;
  overflow-y: hidden;
  justify-content: center;
  scrollbar-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100000;
  margin-top: 30px;
  margin-bottom: 30px;
  transform: translate(-50%, -50%);
  /* pointer-events: none; */
}
.fajnie {
  color: white;
}
.word-ds::-webkit-scrollbar {
  color: black;
  width: 0px;
}

.keys {
  padding: 10px;
  width: 50px;
  font-size: 30px;
  text-align: center;
  transition: background-color 0.2s;
}

.backspace {
  width: auto;
}

.word {
  margin: 5px;
}

.first {
  padding: 5px;
}

.caps {
  width: auto;
}
.under-textarea-div {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.enter {
  width: 170px;
}

.keyboard {
  width: 1000px;
  text-align: center;
}

.tab {
  width: 150px;
}
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  background-color: #000018;
}
.dropdown-menu-non-bootstrap {
  display: none;
  width: 400px;
  background-color: white;
  color: white;
  position: absolute;
  /* top: 100px; */
  right: 0;
  /* border: 1px solid orange; */
  background-color: #0d153c;
  /* text-align: center; */
  padding: 10px;
  border-radius: 15px;
  /* height: 100px; */
  /* display: block; */
}
.dropdown {
  position: relative;
}
.login-form {
  display: none;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input-login::placeholder {
  color: rgba(255, 255, 255, 0.473);
}
#dropdown-button-menu {
  font-size: 20px;
  width: 40px;
  height: 40px;
  color: white;
  background-color: transparent;
  padding: 5px;
  /* width: max-content; */
  border: none;
}
#dropdown-button-menu i {
  color: white;
}
.input-login:focus {
  outline: 1px solid #1662c5;
  border: 2px solid #1662c5;
}
.input-login:active {
  border: 2px solid #1662c5;
}
.input-login {
  border: 2px solid #343a59;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  margin: 10px;
  width: 95%;
}
#submit-button {
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  padding: 5px;
  background-color: #1a83ff;
  border: none;
  width: 189px;
  -webkit-box-shadow: -2px 3px 30px -17px rgba(26, 131, 255, 1);
  -moz-box-shadow: -2px 3px 30px -17px rgba(26, 131, 255, 1);
  box-shadow: -2px 3px 30px -17px rgba(26, 131, 255, 1);
  border-radius: 5px;
}
